<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navbar-center">

    <a class="navbar-brand" href="#">Hoteles</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav ml-auto">
          <li id="snav-home" class="nav-item">
            <a class="nav-link" href="/">Home </a>
          </li>
          
          <li id="snav-nosotros" class="nav-item">
            <a class="nav-link" href="/about.html">Nosotros</a>
          </li>

          <li id="snav-precios" class="nav-item">
            <a class="nav-link" href="/precios.html">Precios</a>
          </li>

          <li id="snav-terminos" class="nav-item">
            <a class="nav-link" href="/terminos.html">Términos y condiciones</a>
          </li>

          <li id="snav-contacto" class="nav-item">
            <a class="nav-link" href="/contacto.html">Contacto</a>
          </li>

        </ul>

      </div>
    
</nav>

<br>
<br>

